<extend name="Base:base"/>
<block name="css_link">
    <style>
        .databox.databox-xxxlg{
            height: auto;
        }
        .databox-top.bg-white{
            height:300px;
        }
        .databox .databox-cell{
            padding:5px;
        }
        .databox.databox-vertical .databox-top{
            height:auto;
        }
        .databox.databox-vertical{
            height: auto;
        }
        .progress-bar[aria-valuenow="0"]{
            min-width: 0;
        }
        .profile-container .profile-header .profile-info .header-information{
            max-height: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .form_text{
            display: inline-block;
            width: 75%;
            margin-bottom: 5px;
        }
        .col-lg-12 {
            width: 94%;
            margin-left: 3%;
        }
        .form-control{
            display: inline-block;
            width: 56%;
            height: 30px;
            line-height: 0.6;
        }
        .add_apply{
            margin-left: 45%;
            margin-top: 1%;
        }
        .radio{
            display: inline-block;
        }

        .col-sm-2,.col-sm-1{
            line-height: 34px;
        }
        .col-sm-1{
            width: 25%;
            text-align: right;
        }
        .basis_info{
            display: inline-block;
        }

        .guardian_info_checkbox>.col-lg-2{
            width: 33%;
            float: right;
            height: 40px;
            line-height: 0px;
        }
        .must{
            color: red;
        }

    </style>
</block>
<block name="main">
    <div class="row">
        <div class="col-xs-12 col-md-10">
            <div class="col-lg-12 col-sm-12 col-xs-10">
                <div class="widget radius-bordered">
                    <div class="widget-header bg-blue">
                        <span class="widget-caption">编辑类别信息</span>
                    </div>
                    <div class="widget-body basis_info">
                        <input type="hidden" id="id" <if condition="!empty($data)">value={$data['id']}</if>>
                                <div class="form_text form-group">
                            <label for="nav_name" class="col-sm-1 control-label no-padding-right"><span class='must'>*</span>导航名称：</label>
                            <input type="text" maxlength="20" class="form-control" <if condition="!empty($data)">value={$data['nav_name']}</if> name="nav_name" id="nav_name">
                        </div>
                        <div class="form_text form-group">
                            <label for="nav_url" class="col-sm-1 control-label no-padding-right"><span class='must'>*</span>导航地址：</label>
                            <input type="text" class="form-control" <if condition="!empty($data)">value={$data['nav_url']}</if> name="nav_url" id="nav_url">
                        </div>
                        <div class="form_text form-group">
                            <label for="nav_order" class="col-sm-1 control-label no-padding-right"><span class='must'></span>排序：</label>
                            <input type="text" maxlength="20" placeholder="0" class="form-control"  <if condition="!empty($data)">value={$data['nav_order']}</if> name="nav_order" id="nav_order">
                        </div>

                        <div class="form_text form-group">
                            <a href="javascript:void(0);"  class="add_apply btn btn-azure shiny" data-url="{:U('Navs/addNav')}" id="submit-btn">保存</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js_link">
<script src="__PUBLIC__/assets/js/datetime/moment.js"></script>
<script src="__PUBLIC__/assets/js/datetime/daterangepicker.js"></script>
<script src="__PUBLIC__/assets/js/datetime/daterangepicker.js"></script>
<script>
    function filter(){
        var id = $.trim($('#id').val());
        var nav_name = $.trim($('#nav_name').val());
        var nav_url = $.trim($('#nav_url').val());
        var nav_order = $.trim($('#nav_order').val());
        var token = $("input[name='_token']").val();
        if( nav_name == ''){
            alert_info('warning' , '提示' , '导航名称不能为空!');
            return false;
        };
        if( nav_url == ''){
            alert_info('warning' , '提示' , '导航地址不能为空!');
            return false;
        };
        return {
            id:id,
            nav_name:nav_name,
            nav_order:nav_order,
            nav_url:nav_url,
            _token:token,
        };
    }

    $('#submit-btn').on('click', function(){
        var toUrl = $('#submit-btn').data("url");
        var data = filter();
        if(!data){
            return;
        }
        $.post(toUrl ,data, function(data){
            if(data['code'] == 0){
                window.location = "{:U('Navs/index')}";
//                alert_info('success' , '提示' , data.msg);
            }else{
                alert_info('warning' , '提示' , data.msg);
            }
        });
    })
</script>
</block>