<extend name="Base:base"/>
<block name="css_link">
    <style>
        .databox.databox-xxxlg{
            height: auto;
        }
        .databox-top.bg-white{
            height:300px;;
        }
        .databox .databox-cell{
            padding:5px
        }
        .databox.databox-vertical .databox-top{
            height:auto;;
        }
        .databox.databox-vertical{
            height: auto;
        }
        .progress-bar[aria-valuenow="0"]{
            min-width: 0;
        }
        .profile-container .profile-header .profile-info .header-information{
            max-height: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</block>
<block name="main">

</block>
<block name="js_link">
    <script src="__PUBLIC__/assets/js/charts/flot/jquery.flot.js"></script>
    <script src="__PUBLIC__/assets/js/charts/flot/jquery.flot.resize.js"></script>
    <script src="__PUBLIC__/assets/js/charts/flot/jquery.flot.pie.js"></script>
    <script src="__PUBLIC__/assets/js/charts/flot/jquery.flot.tooltip.js"></script>
    <script src="__PUBLIC__/assets/js/charts/flot/jquery.flot.orderBars.js"></script>
    <script src="__PUBLIC__/assets/js/toastr/toastr.js"></script>
</block>